---
import { ArrowRight } from "lucide-react";
import heroBanner from "../assets/herobanner.webp";

---

    <section class="relative bg-green-600 px-4 py-16 text-center lg:h-[70vh] grid place-items-center" id="hero">

      <div class="absolute inset-0 overflow-hidden">
          <img
            src={heroBanner.src}
            alt="Shopping background"
            class="w-full h-full object-cover opacity-10"
          />
        </div>
          <div class="max-w-7xl mx-auto relative text-center px-4">
          <h1 class="text-4xl md:text-6xl font-bold text-gray-200  mb-8 md:mb-12">
            Find It Fast, Buy It Now 
          </h1>
       
           <h1 class="text-2xl md:text-4xl font-bold text-gray-200 sm:mb-6 mb-8">Stop Running from Store to Store – Find What You Need Instantly!</h1>
        <p class="text-lg md:text-xl font-medium text-gray-300 mb-6 md:mb-12 text-balance">
            Tired of running from store to store, only to find out what you need is out of stock? We’ve got you covered!  
            With <strong>FindItBuyIt</strong>, you can instantly check product availability across multiple stores near you.  
            No more guesswork, no more wasted trips—just quick, easy, and reliable shopping at your fingertips.
        </p>
        
          <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-4 mt-6 sm:mt-12">
            <input
            id="waitlist"
              type="email"
              placeholder="Enter your email"
              class="w-full sm:w-80 px-6 py-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500"
            />
            <button class="w-full sm:w-auto bg-white text-green-600 px-8 py-3 rounded-full hover:bg-emerald-900 hover:text-white transition-colors flex items-center justify-center gap-2">
              Join Waitlist 
			      <ArrowRight className="w-5 h-5" />
            </button>
          </div> 
        <!-- <p class="text-lg sm:text-xl text-gray-200 mb-12">Join plenty sharp shoppers wey no dey waste time and motor spirit, no stress, just buy easy!</p> -->

          </div>
          
        </section>