---
import { ArrowRight } from "lucide-react";
---

    <section class=" px-4 py-16 text-center bg-green-100" id="hero">
          <div class="max-w-7xl mx-auto">
          <h1 class="text-4xl md:text-6xl font-bold text-gray-900 mb-6">
            Find It Fast, Buy It Now 
          </h1>
       
           <h1 class="text-2xl md:text-4xl font-bold text-gray-900 mb-8 md:mb-12">Stop Running from Store to Store – Find What You Need Instantly!</h1>
        <p class="text-lg md:text-xl font-medium text-gray-700 mb-6 md:mb-12">
            Tired of running from store to store, only to find out what you need is out of stock? We’ve got you covered!  
            With <strong>FindItBuyIt</strong>, you can instantly check product availability across multiple stores near you.  
            No more guesswork, no more wasted trips—just quick, easy, and reliable shopping at your fingertips.
        </p>
        
          <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-4 mt-6 sm:mt-12">
            <input
            id="waitlist"
              type="email"
              placeholder="Enter your email"
              class="w-full sm:w-80 px-6 py-3 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-500"
            />
            <button class="w-full sm:w-auto bg-green-600 text-white px-8 py-3 rounded-full hover:bg-green-700 transition-colors flex items-center justify-center gap-2">
              Join Waitlist 
			  <ArrowRight className="w-5 h-5" />
            </button>
          </div> 
        <p class="text-lg sm:text-xl text-gray-700 mb-12">Join plenty sharp shoppers wey no dey waste time and motor spirit, no stress, just buy easy!</p>

          </div>
          
        </section>