<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="https://mirrorful-production.s3.us-west-1.amazonaws.com/patterns/files/73c20899-7f4e-41bb-a857-8ee8012107dd/FindItBuyItLogo.png" />
    <title>FindItBuyIt | Your Smart Shopping Assistant</title>
    <meta name="description" content="FindItBuyIt helps you instantly check product availability across multiple stores near you, saving you time and money." />
    <meta name="keywords" content="shopping, product availability, price comparison, store locator, smart shopping" />
    <meta name="author" content="FindItBuyIt Team" />
    <meta property="og:title" content="FindItBuyIt | Your Smart Shopping Assistant" />
    <meta property="og:description" content="Stop running from store to store. Use FindItBuyIt to find what you need instantly!" />
    <meta property="og:image" content="https://mirrorful-production.s3.us-west-1.amazonaws.com/patterns/files/73c20899-7f4e-41bb-a857-8ee8012107dd/FindItBuyItLogo.png" />
    <meta property="og:url" content="http://finditbuyit.netlify.app/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="FindItBuyIt | Your Smart Shopping Assistant" />
    <meta name="twitter:description" content="Stop running from store to store. Use FindItBuyIt to find what you need instantly!" />
    <meta name="twitter:image" content="https://mirrorful-production.s3.us-west-1.amazonaws.com/patterns/files/73c20899-7f4e-41bb-a857-8ee8012107dd/FindItBuyItLogo.png" />
    <link rel="canonical" href="http://finditbuyit.netlify.app/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css" />
  </head>
  <body>
    <slot />
  </body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
